<!doctype html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Login</h1>

    <% if (error) { %>
      <p style="color:red;"><%= error %></p>
    <% } %>

    <form method="POST" action="/login">
      <label>Username:
        <input type="text" name="username">
      </label>
      <br>
      <label>Password:
        <input type="password" name="password">
      </label>
      <br>
      <input type="submit" value="Login">
    </form>

    <p><a href="/">Back to home</a></p>
  </body>
</html>